.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    color: #1c1c1c;
    z-index: 20;
    display: none;
}

.modal .form__row:not(:last-child) {
    margin-bottom: 16px;
}

.modal label {
    min-width: 50px;
    display: inline-block;
    font-family: 'IBM Plex Mono';
    font-weight: 600;
}

.modal__head {
    padding-bottom: 16px;
}

.modal__controls {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}