.nav {
    height: 72px;
    display: flex;
}

.nav ul {
    display: flex;
    height: 100%;
    justify-content: stretch;
    margin: 0px auto;
}

.nav ul li .btn {
    height: 100%;
    box-shadow: none;
    background-color: rgba(138, 43, 226, 0.6);
}

.nav ul li .btn:hover {
    background-color: rgba(138, 43, 226, 1);
}

.nav ul li:not(:first-child) .btn {
    border-left: 1px solid blueviolet;
}